body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ticket-title {
	text-align: center;
	text-transform: uppercase;
	color: white;
}