.hover{
	overflow: hidden;
	cursor: pointer;
}
.hover img{
	transition: all 0.3s;
}
.hover:hover img{
    transform: scale(1.1);
    transition-duration: .2s;  
}
.back{
	background-image: url("img/back.jpg");
	background-position-y: center;
	background-size: 100% auto;
}