body{
	background-color: #000874;
}
.as{
	color: white;
}
.khampha .row{
	position: relative;
	color: white;
}
.img-bg{
	position: absolute;
	top: 0;
	left: 0;
}
.link-content{
	position: absolute;
	top: 0;
	left: 0;
}
.border-bt{
	margin-top: -10px;
	width: 100%;
	height: 213px;
	border-radius: 10px;

}
.img-bach-tuoc{
	text-align: center;
	margin-left: 30px ;
	margin-top: 45px;
}
.fonts{
	font-family: "Luckiest Guy", sans-serif;
}
.anh{
	font-family: 'Josefin Sans', sans-serif;
}
.ad{
	border: 1px solid white;
}
.mau{
	color: white;
}
.mau:hover{
	color: #03a9f4;
}
@media (max-width: 768px) {
	.img-bach-tuoc {
		margin-left: 130px;
		text-align: center;
	}

}