.page-head {
    margin-top: 25px;
}

.title-faq {
    cursor: pointer;
    border: 1px solid green;
    box-shadow: 1px 1px 5px 1px green;
    border-radius: 20px;
    margin-bottom: 20px;
}

.title-faq h4,h3 {
    color: green;
}

span img {
    width: 2%;
}

#title-page span {
    border-bottom: 2px solid green;
}