body {
    background-image: url(../img/jellyfish.png),url(../img/corals_footer-left.png);
    background-repeat: no-repeat,no-repeat;
    background-position: 10% 130px,-3% 100%;
}

#title-here {
    color: #bebebe;
    font-style: italic;
    font-size: 14px;
}

#faq-breadcrumb {
    display: inline-flex;
    background-color: white;
}

.breadcrumb-item a {
    color: #458a94;
    font-size: 14px;
    font-style: italic;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
}

.nav-item a {
    color: #458a94;
    font-weight: bold;
}

.nav-item a:hover {
    color: #458a94;
}

.tab-content {
    margin-top: 2%;
}

.tab-content h4 {
    cursor: pointer;
    border-top: 1px solid #e6e6e6;
    line-height: 70px;
    color: #458a94;
}

.hide {
    display: none;
}

.title-faq {
    font-family: 'Oswald', sans-serif;
    color: #2aabd2;
    margin-bottom: 8%;
    margin-top: 2%;
    font-size: 60px;
}

.title-content-fap {
    font-family: 'Oswald', sans-serif;
}

.paragraph-content {
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    margin-top: 7%;
}

.content a {
    color: #458a94;
}

.content a:hover {
    text-decoration: none;
    color: #458a94;
}

.content-item {
    color: #458a94;
}

.content-item a {
    color: #458a94;
}

.content-item a:hover {
    color: #458a94;
}

.carousel-inner img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 2px 2px 5px #999;
}

.ppsaycontentcmt {
    color: #35240d;
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d7d4d0;
}

.ppsayauthor .name {
    color: #43af50;
    font-style: normal;
}

.ppsayauthor p span {
    font-style: italic;
}

.customer-feedback .title-customer-feedback {
    color: #458a94;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.customer-feedback {
    margin-bottom: 20px;
    padding: 2%;
}

.customer-cmt {
    height: 200px;
}

@media (max-width: 768px) {
    #feedback {
        display: none;
    }

    .title-faq {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .detail-fap {
        display: none;
    }
}