@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-Regular.ttf');
}
@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Alfa Slab One';
    src: url('../fonts/AlfaSlabOne-Regular.ttf');
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf');
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Pacifico';    
    src: url('../fonts/Pacifico-Regular.ttf');
}